﻿@model IEnumerable<ReqApp.Presentation.Requests.RoleResolutionViewModel>

<table class="table">
<tr>
    <th>Роль</th>
    <th>Решение</th>
    <th>Комментарий</th>
</tr>
@foreach (var res in Model)
{ 
    <tr>
        @Html.Partial("_RoleResolution", res)
    </tr>
}
</table>
