﻿@model ReqApp.Presentation.Requests.RoleResolutionViewModel

<td>@Html.DisplayFor(model => model.RoleName)</td>
<td>@Html.DisplayFor(model => model.Result)</td>
<td>@Html.DisplayFor(model => model.Desc)</td>

