﻿@model IEnumerable<ReqApp.Presentation.Requests.ShowViewModel>

@{
    ViewBag.Title = "Мои заявки";
    string sortOrder = (!String.IsNullOrEmpty(Request.Params["sortOrder"]) && Request.Params["sortOrder"].ToLower() == "asc") ? "desc" : "asc";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            <a href="@Url.Action("AssignedToMe", new {sortBy="Resolved", sortOrder=@sortOrder})">
                @Html.DisplayNameFor(model => model.Resolved)
            </a>                        
        </th>
        <th>
            <a href="@Url.Action("AssignedToMe", new {sortBy="ResolvedByMe", sortOrder=@sortOrder})">
                @Html.DisplayNameFor(model => model.ResolvedByMe)
            </a>            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolvedByMe)
        </td>
        <td>            
            @Html.ActionLink("Просмотр", "Details", new { id = item.ID })            
        </td>
    </tr>
}

</table>
