﻿@model ReqApp.Presentation.Requests.EditViewModel

@{
    ViewBag.Title = "Новая заявка";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })   
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Desc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Desc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.Priority, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Priority)
            </div>
        </div>
       
        <div class="form-group">           
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">     
                <!-- TODO: переопределить шаблон для DateTime -->           
                <!-- TODO: использовать элемент управления для выбора даты -->           
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })                                
                <p>Введите дату в формате чч.мм.гггг</p>
                @Html.ValidationMessageFor(model => model.DueDate)
                
            </div>
        </div>

        <div class="form-group">            
            <label class="control-label col-md-4" for="Roles">Роли</label>
            <div class="col-md-6">
                @for (int i = 0; i < Model.RoleOptions.Count; i++)
                {
                <div>
                    @Html.HiddenFor(model => model.RoleOptions[i].Value)
                    @{var htmlAttrs = Model.RoleOptions[i].Disabled ? new { @disabled = "disabled" } : null; }
                    @Html.CheckBoxFor(model => model.RoleOptions[i].Selected, htmlAttrs)                    
                    @Html.LabelFor(model => model.RoleOptions[i].Selected, Model.RoleOptions[i].Name)
                </div>
                }
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

