﻿@model ReqApp.Presentation.Requests.ShowViewModel

@{
    ViewBag.Title = "Заявка" ;
}

<h2>@ViewBag.Title: @Model.Title</h2>

<div>    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResolvedByMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResolvedByMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleResolutions)
        </dt>

        <dd>            
            @Html.Partial("_RoleResolutions", Model.RoleResolutions)
            <div class="row">
                <div class="col-md-4">
                    @if (Model.CanResolve)
                    {
                        @Html.ActionLink("Принять решение", "Create", "Resolutions", new { requestID = Model.ID }, new { @class="btn btn-primary" })
                    }
                </div>
            </div>
        </dd>

    </dl>
</div>
