﻿<li class="dropdown">                        
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-user"></span> 
        @User.Identity.Name
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @foreach (var roleName in Roles.GetAllRoles()) {
            <li>@Html.ActionLink(roleName, "LogIn", "Sessions", new { name = roleName }, null)</li>                            
        }                            
    </ul>
</li>
@if (User.Identity.IsAuthenticated)
{ 
    <li>@Html.ActionLink("Выход", "LogOut", "Sessions")</li>                            
}                            

