﻿@if (User.Identity.IsAuthenticated) 
{
    if (Roles.IsUserInRole("Секретарь") || Roles.IsUserInRole("Руководитель"))
    { 
        <li>@Html.ActionLink("Все заявки", "Index", "Requests")</li>    
    }        
    if (Roles.IsUserInRole("Секретарь"))
    { 
        <li>@Html.ActionLink("Создать заявку", "Create", "Requests")</li>    
    }        
    else 
    {
    <li>@Html.ActionLink("Мои заявки", "AssignedToMe", "Requests")</li>
    }
    if (Roles.IsUserInRole("Руководитель"))
    { 
    <li>@Html.ActionLink("Среднее время рассмотрения заявки", "Create", "Statistics")</li>
    }
}

