﻿@model ReqApp.Presentation.Resolutions.ViewModel

@{
    ViewBag.Title = "Регистрация решения по заявке";
}

@section Scripts
{    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>    
} 

<h2>@ViewBag.Title: @Model.RequestTitle</h2>
<p>@Model.RequestDesc</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RequestID)
    @Html.HiddenFor(model => model.RoleID)
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.Result, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Result)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Desc, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Desc)
            </div>
        </div>
         
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

