﻿@model ReqApp.Presentation.ResolutionStatsViewModel

@{
    ViewBag.Title = "Среднее время рассмотрения заявки";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()    
    <div class="form form-horizontal">        
        <hr />
        <h4>Укажите расчётный период</h4>    

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <!-- TODO: переопределить шаблон для DateTime -->           
                <!-- TODO: использовать элемент управления для выбора даты -->           
                @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })   
                <p>Введите дату в формате чч.мм.гггг</p>
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                <!-- TODO: переопределить шаблон для DateTime -->           
                <!-- TODO: использовать элемент управления для выбора даты -->           
                @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })   
                <p>Введите дату в формате чч.мм.гггг</p>
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Рассчитать" class="btn btn-default" />
            </div>
        </div>
    </div>
}