﻿@model ReqApp.Presentation.ResolutionStatsViewModel

@{
    ViewBag.Title = "Среднее время рассмотрения заявки";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>№</th>
        <th>Роль пользователя</th>
        <th>
            Среднее время рассмотрения заявки в часах         
        </th>
    </tr>
@{
    int i = 1;  
    foreach (var item in Model.Statistics) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgLatencyHours)
        </td>
    </tr>        
    i++;
    }
}

</table>
